  .body {
    background-color: rgba(164, 180, 187, 0.836);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .container {
    max-width: 1024px;
    min-width: 860px;
    margin: auto;
    background-color: rgb(227, 236, 238);
    border-radius: 30px;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav {
    height: 60px;
    width: 100%;
    background-color: rgba(110, 108, 108, 0.747);
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .title_head {
      font-family: 'Courier New', Courier, monospace;
      font-size: 40px;
  }
  .main-header {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .left-header {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
  }
  .right-header {
    margin: auto;
    width: 30%;
    margin-right: 100px;
  }
  .contacts {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 1.1em;
    align-items: center;
    justify-content: space-evenly;
  }
  .contact-list {
    padding: 0;
    list-style-type: none;
  }
  .photo {
    margin: 0 auto;
    border-radius: 15px;
    width: 200px;
  }
  h1 {
    text-transform: uppercase;
    font-size: 2.5em;
  }
  .summary {
    border-left: 5px solid rgb(4, 61, 167);
    padding-left: 20px;
    padding-right: 30px;
    margin: 0;
  }
  h2 {
    margin: auto;
    font-size: 2em;
  }
  p,
  h3,
  li {
    font-size: 1.5em;
    margin: 0 auto;
  }
  .code {
    background-color: rgb(189, 185, 178);
    align-items: center;
  }
  .column {
      padding-left: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .education {
    padding: 20px 20px;
    margin: 0;
    text-align: center;
  }
  .skills,
  .experience,
  .english {
    padding-top: 20px;
  }
  .footer {
    background-color: rgba(110, 108, 108, 0.747);
    height: 60px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5em;
  }